@charset "UTF-8";
*{
  font-family: 'Noto Sans KR', sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin:0px;
  padding: 0px;
  color: #000;
}
a:hover {
  color: black;
}
.main_back{
  display: flex;
}
a {
   text-decoration: none;
} 
#main-menu{
  list-style: none;
  padding-left: 0px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.box_case{
  position: relative;
  height: 125px;
  width: 100%;
  background-color: white;
  
}
.title{
  font-size: 2rem;
  text-align: left;
  font-style: normal;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 600;
  position: absolute;
  display: flex;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.title_name{
  position: relative;
  left: 10px;
  top: 4px;
}
.title_right{
  font-size: 14px;
  text-align: left;
  font-style: normal;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 600;
  position: absolute;
  display: flex;
  color: white;
  top: 50%;
  left: 80%;
  width: 200px;
  transform: translateY(-50%);
  letter-spacing: 1px;
}
.login_link{
  position: relative;
  left: 4%;
  width: 70px;
}
.drop_down_maincase{
  position: relative;
  display: flex;
  padding: 5px;
  font-style: normal;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 600;
  font-size: 16px;
  background-color: black;
  color: white;
      text-align: center;
}
.black_box{
  width: 100%;
  height: 50px;
  background-color: black;
  z-index: 9;
  position: relative;
}
#main-menu > li {
float: left;
position: relative;
margin-left: 49px;
margin-right: 49px;
}

#main-menu > li > a {
  font-size: 15px;
color: rgba(255,255,255,0.85);
text-align: center;
text-decoration: none;
letter-spacing: 0.05em;
display: block;
padding: 14px 36px;
border-right: 1px solid rgba(0,0,0,0.15);
text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}


#main-menu > li:nth-child(1) > a {
border-left: 1px solid rgba(0,0,0,0.15);
}

#sub-menu {
position: absolute;
background: #000000;
width: 200%;
visibility: hidden;
transition: all 0.15s ease-in;
}

#sub-menu > li {
padding: 16px 28px;
border-bottom: 1px solid rgba(0,0,0,0.15);
z-index: 9;
}
#sub-menu > li >  a {
color: rgba(255,255,255,0.6);
text-decoration: none;
z-index: 9;
}

#main-menu > li:hover #sub-menu {
opacity: 1;
visibility: visible;
z-index: 9;
}


section {
column-width: 15em;
padding: 2em 12em;
}
/*여기까지 기본 위 배너 css입니다!*/
.findid_box{    
  width: 1000px;
  height: 750px; 
  position: relative;
  left: 52%;
  transform: translateX(-50%);
}
.center{
  position: relative;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  width:670px;
  height: 370px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.center, txt_field  {
  padding: 0 40px;
  box-sizing: border-box;
}
div .txt_field{
  position: relative;
  border-bottom: 2px solid #dddddd;
  margin: 30px 0;
}
 .txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
 .txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
input[type="submit"]{
  width: 100%;
  height: 40px;
  border: 1px solid;
  background: black;
  border-radius: 25px;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color: #2691d9;
  transition: .5s;
}
.signup_link{
  margin: 20px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;  
}
.signup_link a{
  color: #666666;
  text-decoration: none;
  padding-left: 10px;
   
}
.signup_link a:hover{
  text-decoration: underline;  
}


/* bottom */
/* 최하단 css */
.bottom {
    position: relative;
    
    background-color: #333333;
    z-index: 3;
    width: 100%;
    height: 25rem;
  
  }
  .inner_case_bottom {
    position: absolute;
    height: 85%;
    width: 62.5rem;
    left: 50%;
    top: 35px;
    transform: translateX(-50%);
  }
  .lhr5 {
    position: relative;
    background-color: #6c6c6c;
    opacity: 0.3;
    top: 150px;
    z-index: 4;
  }
  
  
  .bottom_text_1 {
    position: relative;
    color: white;
    font-size: 1.92rem;
    text-align: left;
    font-style: normal;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 800;
    top: px;
    left: 45px;
  }
  
  .bottom_text_2 {
    position: relative;
    color: #a0a0a0;
    font-size: 0.72rem;
    text-align: left;
    font-family: 'Nanum Gothic', sans-serif;
    font-style: normal;
    font-weight: 500;
    top: 10px;
    left: 45px;
  }
  
  .bottom_text_3 {
    position: relative;
    color: #a0a0a0;
    font-size: 0.72rem;
    text-align: left;
    font-style: normal;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 500;
    top: 6.3rem;
    left: 45px;
  }
  
  .bottom_text_4 {
    position: relative;
    color: #a6a6a6;
    font-size: 0.96rem;
    text-align: left;
    font-style: normal;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 500;
    top: 9rem;
    left: 45px;
  }
  /* bottom */