@charset "UTF-8";
*{
  font-family: 'Noto Sans KR', sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin:0px;
  padding: 0px;
  color: #000;
}
a:hover {
  color: black;
}
a {
   text-decoration: none;

   color:black;
} 
.main_back{
	display: flex;
}
#main-menu{
  list-style: none;
  padding-left: 0px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.box_case{
  position: relative;
  height: 125px;
  width: 100%;
  background-color: white;
  
}
.title{
  font-size: 2rem;
  text-align: left;
  font-style: normal;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 600;
  position: absolute;
  display: flex;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.title_name{
  position: relative;
  left: 10px;
  top: 4px;
}
.title_right{
  font-size: 14px;
  text-align: left;
  font-style: normal;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 600;
  position: absolute;
  display: flex;
  color: white;
  top: 50%;
  left: 80%;
  width: 200px;
  transform: translateY(-50%);
  letter-spacing: 1px;
}
.login_link{
  position: relative;
  left: 4%;
  width: 70px;
}
.drop_down_maincase{
  position: relative;
  display: flex;
  padding: 5px;
  font-style: normal;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 600;
  font-size: 16px;
  background-color: black;
  color: white;
      text-align: center;
}
.black_box{
  width: 100%;
  height: 50px;
  background-color: black;
  z-index: 9;
  position: relative;
}
#main-menu > li {
float: left;
position: relative;
margin-left: 49px;
margin-right: 49px;
}

#main-menu > li > a {
  font-size: 15px;
color: rgba(255,255,255,0.85);
text-align: center;
text-decoration: none;
letter-spacing: 0.05em;
display: block;
padding: 14px 36px;
border-right: 1px solid rgba(0,0,0,0.15);
text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}


#main-menu > li:nth-child(1) > a {
border-left: 1px solid rgba(0,0,0,0.15);
}

#sub-menu {
position: absolute;
background: #000000;
width: 200%;
    top: 50px;
visibility: hidden;
transition: all 0.15s ease-in;
}

#sub-menu > li {
padding: 16px 28px;
border-bottom: 1px solid rgba(0,0,0,0.15);
z-index: 9;
}
#sub-menu > li >  a {
color: rgba(255,255,255,0.6);
text-decoration: none;
z-index: 9;
}

#main-menu > li:hover #sub-menu {
opacity: 1;
visibility: visible;
z-index: 9;
}


section {
column-width: 15em;
padding: 2em 12em;
}
/*여기까지 기본 위 배너 css입니다!*/
.login_box{
  width: 1000px;
  height: 1000px; 
  position: relative;
  left: 52%;
  transform: translateX(-50%);
}

.logoo img {
  display: flex;
  justify-content: flex-end;
  width: 130px;
  line-height: 86px;
}

.intro_bg{
  background-image: url("/resources/image/intro3.jpg");
  width: 100%;
  height: 952px;
  text-align: center;
  background-size: cover;
  border-radius: 30px;
 
}

.header{  
  width:1600px;
  margin:auto;
  display:flex;
  height: 86px;
  background-color: white; 
  border-radius: 30px;
}
.searchArea{
  width:250px;
  height:40px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  margin-top:24px;
  background-color: black; 
  margin-left: 10px;
  color: black;
  
   
}
.searchArea > form > input{
  border:none;
  width:200px;
  height:40px;
  background: rgba(0, 0, 0, 0.0);
  color: white;
  padding-left: 10px;
}
.searchArea > form > span > a{
  width: 50px;
  color: white;
}
  
.result {
	font-size: 18px;
	font-weight: normal;
}
  
.contents1{
  font-size: 30px;
  font-weight: normal;
}

.contents2{
  font-size: 18px;
}
.contents3 {
  font-size: 14px;
  font-weight: 100;
}
.contents1_bold{
  font-size: 18px;
  font-weight: bold;
}
 
.nav{
  display: flex;
  justify-content: flex-end;
  width:calc(1090px - 300px);
  line-height: 86px;
 
}
.nav > li {
  margin-left: 130px;
  
 }

.nav > li > a {
  color: black;
  font-weight: bolder;
 
}

.nav1{
  display: flex;
  justify-content: flex-end;
  width:calc(600px - 300px);
  line-height: 86px;
 
}


.nav1 > li {
  margin-left:30px;
}

.nav1 > li > a {
  color: black;
  font-weight: bolder;
}

.body{
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg,#2980b9, #8e44ad);
  height: 100vh;
  overflow: hidden;
}
.center{
  position: relative;  
  top: 5%;
  left: 20%;
  transform: translate(-50%, 38%);
  width: 500px;
  height: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgb(0 0 0 / 10%);

}
.center2{
  position: relative; 
  top: 5%;
  left: 40%;
  transform: translate(22%, -62%);
  width: 400px;
  height: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgb(0 0 0 / 10%);

  }
.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #dddddd;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #FF243E;
  border-radius: 25px;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color: #2691d9;
  transition: .5s;
}
.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
 
}
 
.signup_link a{
  color: #666666;
  text-decoration: none;
  padding-left: 7px;
   
}
.signup_link a:hover{
  text-decoration: underline;  
}

.Easy-sgin-in-wrap{

	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;

}
.Easy-sgin-in-wrap h2{
	font-size: 20px;
}
.Easy-sgin-in-wrap .sign-a-list
{
	padding-top:25px;
  padding-right: 50px;
	list-style: none;
	width: 465px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.Easy-sgin-in-wrap .sign-a-list li{
	padding-bottom: 10px;
}
.Easy-sgin-in-wrap .sign-a-list li a{
	width: 100%;
	height: 40px;
	border: solid 1px var(--border-gray-color);
	text-align: center;
	background: white;
}
.Easy-sgin-in-wrap .sign-a-list li a i{
	padding-left: 15px;
	font-size: 20px;
}

.Easy-sgin-in-wrap .sign-a-list li a span{	
	font-size: 18px;
  position: relative;
  bottom: 14px;
}

.Easy-sgin-in-wrap .sign-a-list .na{
  position: relative;
  padding-top: 20px;
  padding-bottom: 50px;
}

.naver_img{
  position: relative;
    right: 7.5px;
}
.main_login{
  height: 1300px;
  width: 100%;
  position: relative;
  z-index: 2;
}



.center2 h1 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver
}
/* 최하단 css */
.bottom {
  position: relative;
 
  background-color: #333333;
  z-index: 3;
  width: 100%;
  height: 25rem;

}
.inner_case_bottom {
  position: absolute;
  height: 85%;
  width: 62.5rem;
  left: 50%;
  top: 35px;
  transform: translateX(-50%);
}
.lhr5 {
  position: relative;
  background-color: #6c6c6c;
  opacity: 0.3;
  top: 150px;
  z-index: 4;
}


.bottom_text_1 {
  position: relative;
  color: white;
  font-size: 1.92rem;
  text-align: left;
  font-style: normal;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 800;
  top: px;
  left: 45px;
}

.bottom_text_2 {
  position: relative;
  color: #a0a0a0;
  font-size: 0.72rem;
  text-align: left;
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
  font-weight: 500;
  top: 10px;
  left: 45px;
}

.bottom_text_3 {
  position: relative;
  color: #a0a0a0;
  font-size: 0.72rem;
  text-align: left;
  font-style: normal;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 500;
  top: 6.3rem;
  left: 45px;
}

.bottom_text_4 {
  position: relative;
  color: #a6a6a6;
  font-size: 0.96rem;
  text-align: left;
  font-style: normal;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 500;
  top: 9rem;
  left: 45px;
}