@charset "UTF-8";
*{
  font-family: 'Noto Sans KR', sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin:0px;
  padding: 0px;
  color: #000;
}
a:hover {
  color: black;
}
.main_back{
  display: flex;
}
a {
   text-decoration: none;
   color:black;
} 
#main-menu{
  list-style: none;
  padding-left: 0px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.box_case{
  position: relative;
  height: 125px;
  width: 100%;
  background-color: white;
  
}
.title{
  font-size: 2rem;
  text-align: left;
  font-style: normal;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 600;
  position: absolute;
  display: flex;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.title_name{
  position: relative;
  left: 10px;
  top: 4px;
}
.title_right{
  font-size: 14px;
  text-align: left;
  font-style: normal;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 600;
  position: absolute;
  display: flex;
  color: white;
  top: 50%;
  left: 80%;
  width: 200px;
  transform: translateY(-50%);
  letter-spacing: 1px;
}
.login_link{
  position: relative;
  left: 4%;
  width: 70px;
}
.drop_down_maincase{
  position: relative;
  display: flex;
  padding: 5px;
  font-style: normal;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 600;
  font-size: 16px;
  background-color: black;
  color: white;
      text-align: center;
}
.black_box{
  width: 100%;
  height: 50px;
  background-color: black;
  z-index: 9;
  position: relative;
}
#main-menu > li {
float: left;
position: relative;
margin-left: 49px;
margin-right: 49px;
}

#main-menu > li > a {
font-size: 0.85rem;
color: rgba(255,255,255,0.85);
text-align: center;
text-decoration: none;
letter-spacing: 0.05em;
display: block;
padding: 14px 36px;
border-right: 1px solid rgba(0,0,0,0.15);
text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

#main-menu > li:nth-child(1) > a {
border-left: 1px solid rgba(0,0,0,0.15);
}

#sub-menu {
position: absolute;
background: #000000;
width: 200%;
visibility: hidden;
transition: all 0.15s ease-in;
}

#sub-menu > li {
padding: 16px 28px;
border-bottom: 1px solid rgba(0,0,0,0.15);
z-index: 9;
}
#sub-menu > li >  a {
color: rgba(255,255,255,0.6);
text-decoration: none;
z-index: 9;
}

#main-menu > li:hover #sub-menu {
opacity: 1;
visibility: visible;
z-index: 9;
}


section {
column-width: 15em;
padding: 2em 12em;
}
/*여기까지 기본 위 배너 css입니다!*/
.gray_main{
  width: 100%;
  height: 1500px;
  background-color: #dddddd;
}


.whitebox{
  width: 1000px;
  height: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
}
.whitebox_info{
    position: relative;
    width: 1000px;
    height: 120px;  
    background-color: #dddddd;
}
.whitebox_info_text{
  position: relative;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  top: 35px;
}
.event_info_title_box{
  position: relative;
  width: 1000px;
  height: 250px;
 /* background-color: #6c6c6c;*/
}
.event_info_title{
  position: relative;
  width: 1000px;
  height: 150px;
  /*background-color: aliceblue;*/
  top: 50px;

}
.event_info_title_text{
  position: relative;
  /* align-content: center; */
  font-size: 35px;
  left: 38%;
  transform: translateX(-50%);
  font-weight: 500;
  top: 10px;
}
.event_info_title_date{
  position: relative;
  width: 1000px;
  top: 40px;
  left: 375px;
  font-size: 12px;
}
.event_border2{
  position: relative;
  top: 65px;
}
.whitebox2{
  position: relative;
  width: 1000px;
  height: 1130px;
}
.whitebox2_photo{
  position: relative;
  width: 700px;
  height: 500px;
  background-color: #666666;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
}
.whitebox2_info{
  position: relative;
  width: 900px;
  height: 500px;
  /* background-color: #666666; */
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
}
/* .whitebox2_back_button{
  position: relative;
  width: 1000px;
  height: 100px;
} */
.back_button{
  position: relative;
  width: 95px;
  height: 50px;
  left: 860px;
  top: 50px;
}
.back_button_box{
  position: relative;
  width: 1000px;
  height: 130px;
  background-color: #dddddd;
}









































/* bottom */
/* 최하단 css */
.bottom {
    position: relative;
    background-color: #333333;
    z-index: 3;
    width: 100%;
    height: 25rem;
  
  }
  .inner_case_bottom {
    position: absolute;
    height: 85%;
    width: 62.5rem;
    left: 50%;
    top: 35px;
    transform: translateX(-50%);
  }
  .lhr5 {
    position: relative;
    background-color: #6c6c6c;
    opacity: 0.3;
    top: 150px;
    z-index: 4;
  }
  
  
  .bottom_text_1 {
    position: relative;
    color: white;
    font-size: 1.92rem;
    text-align: left;
    font-style: normal;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 800;
    top: px;
    left: 45px;
  }
  
  .bottom_text_2 {
    position: relative;
    color: #a0a0a0;
    font-size: 0.72rem;
    text-align: left;
    font-family: 'Nanum Gothic', sans-serif;
    font-style: normal;
    font-weight: 500;
    top: 10px;
    left: 45px;
  }
  
  .bottom_text_3 {
    position: relative;
    color: #666666;
    font-size: 0.72rem;
    text-align: left;
    font-style: normal;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 500;
    top: 6.3rem;
    left: 45px;
  }
  
  .bottom_text_4 {
    position: relative;
    color: #a6a6a6;
    font-size: 0.96rem;
    text-align: left;
    font-style: normal;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 500;
    top: 9rem;
    left: 45px;
  }
  /* bottom */
 
  /* .inner_case{
    width: 1000px;
    height: 100%;
  } */
  .tic_com_name{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
  }
  #not_check{
    text-decoration: line-through;
  }