@charset "UTF-8";
*{margin: 0; padding: 0;}
@font-face { /* 나눔고딕 Regular */
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
    src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
         url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
  }
  @font-face { /* 나눔고딕 Bold */
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot);
    src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format('woff'),
         url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.ttf) format('truetype');
  }
  @font-face { /* 나눔고딕 ExtraBold */
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 800;
    src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot);
    src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff) format('woff'),
         url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf) format('truetype');
  }
  
  html, body {
    font-family: 'Nanum Gothic', sans-serif;
    -ms-user-select: none; 
   -moz-user-select: -moz-none;
    -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;

  }
  a {
      text-decoration: none;
      color: white;
    }
  a:hover {
      color: white
    }
* {
    box-sizing: border-box;
}

.bottom_min {
    bottom: 3rem;
}

.gom {
    position: relative;
    width: 100%;
    height: 100%;
}

.login_main_photo {
    background: url('../img/login/SSO로그인\ 배경.jpg') no-repeat;

    width: 100%;
    height: 35rem;
    position: absolute;
    top: 50%;
    margin-top: -17.5rem;
}

.login_single {
    font-size: 9.375rem;
    color: #ff663d;
    font-weight: 50rem;
    font-style: normal;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: left;
    position: absolute;
    left: 12.5rem;
    top: 5rem
}

.login_main_box {
    width: 35.375rem;
    height: 50rem;
    background-color: white;
    border-radius: 1cm;
    box-shadow: 0px 0px 1.3rem black;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 10%);
}

.inner_box {
    width: auto;
    height: 7.75rem;
    background: url('../img/login/제목\ 없음-1.jpg') no-repeat;
    background-position: center;
}

.line {
    margin: 0 auto;
    width: 70%;
    background-color: rgb(172, 172, 172);
    size: 3px;
    height: 3px;

}



.login_label {
    font-size: 2rem;
    color: #ff663d;
    font-weight: 800;
    font-style: normal;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: left;
    margin-left: 15%;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    
}

.login {
    margin-left: 15%;
    margin-top: 1.5rem;
    position: relative;
    
}
.id_input {
    width: 82%;
    height: 4rem;
    background-color: #f4f4f4;
    border-width: 0px;
    border-radius: 18px;
    padding-left: 4.5rem;
    
}
.id_input::placeholder{
    font-family: 'Nanum Gothic', sans-serif;
    text-align: left;
    width: 30rem;
    height: 30rem;
}
.id_icon{
    display: inline;
    left: 20px;
    top: 15px;
    width: 38px;
    height: 38px;
    position: absolute;
    
}
.id_icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}
.login_button{
    position: relative;
    background-color: #ff663d;
    width: 70%;
    height: 3.5rem;
    border-radius: 18px;
   left: 50%;
   top: 100px;
   transform: translate(-50%,-50%);
    margin: 0 auto;
    border: 0px;
    font-style: normal;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 800;
    font-size: 1.4rem;
    color: white;
    
}
.login_out_bottom{
    position: relative;
    font-style: normal;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 500;
    font-size: 0.7rem;
    color: #7d7d7d;
    text-align: center;
    left: 50%;
    top: 27%;
    transform: translate(-50%,-50%);
    overflow:hidden;
    }
.login_bottom{
    position: relative;
    margin-top: 35%;
    height: 18%;
    background-color: #252553;
    overflow:hidden;
    border-bottom-left-radius: 1cm;
    border-bottom-right-radius: 1cm;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 14px 28px, rgba(0, 0, 0, 0.5) 0px 8px 10px;

}
.button{
    border-style: hidden;
    color: #ff663d;
    background-color: #252553;
    
}
.bottom{
    position:relative;
    margin-top: 15px;
    text-align: center;
    font-style: normal;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 500;
}
a { 
    text-decoration:none ;
    color:white;
} 
.find{
	color:white;
}