@charset "UTF-8";
*{
  font-family: 'Noto Sans KR', sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin:0px;
  padding: 0px;
  color: #000;
}
a:hover {
  color: black;
}
.main_back{
  display: flex;
}
a {
   text-decoration: none;
} 
#main-menu{
  list-style: none;
  padding-left: 0px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.box_case{
  position: relative;
  height: 125px;
  width: 100%;
  background-color: white;
  
}
.title{
  font-size: 2rem;
  text-align: left;
  font-style: normal;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 600;
  position: absolute;
  display: flex;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.title_name{
  position: relative;
  left: 10px;
  top: 4px;
}
.title_right{
  font-size: 14px;
  text-align: left;
  font-style: normal;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 600;
  position: absolute;
  display: flex;
  color: white;
  top: 50%;
  left: 80%;
  width: 200px;
  transform: translateY(-50%);
  letter-spacing: 1px;
}
.login_link{
  position: relative;
  left: 4%;
  width: 70px;
}
.drop_down_maincase{
  position: relative;
  display: flex;
  padding: 5px;
  font-style: normal;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 600;
  font-size: 16px;
  background-color: black;
  color: white;
      text-align: center;
}
.black_box{
  width: 100%;
  height: 50px;
  background-color: black;
  z-index: 9;
  position: relative;
}
#main-menu > li {
float: left;
position: relative;
margin-left: 49px;
margin-right: 49px;
}

#main-menu > li > a {
font-size: 0.85rem;
color: rgba(255,255,255,0.85);
text-align: center;
text-decoration: none;
letter-spacing: 0.05em;
display: block;
padding: 14px 36px;
border-right: 1px solid rgba(0,0,0,0.15);
text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

#main-menu > li:nth-child(1) > a {
border-left: 1px solid rgba(0,0,0,0.15);
}

#sub-menu {
position: absolute;
background: #000000;
width: 200%;
visibility: hidden;
transition: all 0.15s ease-in;
}

#sub-menu > li {
padding: 16px 28px;
border-bottom: 1px solid rgba(0,0,0,0.15);
z-index: 9;
}
#sub-menu > li >  a {
color: rgba(255,255,255,0.6);
text-decoration: none;
z-index: 9;
}

#main-menu > li:hover #sub-menu {
opacity: 1;
visibility: visible;
z-index: 9;
}


section {
column-width: 15em;
padding: 2em 12em;
}
/*여기까지 기본 위 배너 css입니다!*/
.whitebox{
  width: 1000px;
  height: 520px; 
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.whitebox2{
  width: 1000px;
  /* height: 520px;  */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.eventbox{
  position: relative;
  width: 1000px;
  height: 120px;
}
.eventboxtext{ 
  position: relative;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  top: 35px;
}
.swipe{
  position: relative;
  width: 1000px;
  height: 500px;
  border: 1px solid black;
  /* background-color: #333333; */
}



ul,li{list-style:none;}
.slide{height:400px;overflow:hidden;}
.slide ul{width:calc(100% * 4);display:flex;animation:slide 8s infinite;} /* slide를 8초동안 진행하며 무한반복 함 */
.slide li{width:calc(100% / 4);height:400px;}
.slide li:nth-child(1){
  background:url(../img/이벤트사진/이벤트\ 사진1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1000px;
  height: 400px;
  background-position: center;
}
.slide li:nth-child(2){background:url(../img/이벤트사진/이벤트\ 사진2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1000px;
  height: 400px;
  background-position: center;
}
.slide li:nth-child(3){background:url(../img/이벤트사진/이벤트\ 사진3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1000px;
  height: 400px;
  background-position: center;
}
.slide li:nth-child(4){background:url(../img/이벤트사진/이벤트사진4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1000px;
  height: 400px;
  background-position: center;
}

@keyframes slide {
  0% {margin-left:0;} /* 0 ~ 10  : 정지 */
  10% {margin-left:0;} /* 10 ~ 25 : 변이 */
  25% {margin-left:-100%;} /* 25 ~ 35 : 정지 */
  35% {margin-left:-100%;} /* 35 ~ 50 : 변이 */
  50% {margin-left:-200%;}
  60% {margin-left:-200%;}
  75% {margin-left:-300%;}
  85% {margin-left:-300%;}
  100% {margin-left:0;}
}
.swipetextbox{
  position: relative;
  height: 200px;
  width: 1000px;
  top: 200px;
}
.swipetext{
  position: relative;
  font-size: 30px;
  text-align: center;
  left: 50px;
  top: 95px;
  font-weight: 500;
  color: white;
}


.event_list_box{
  position: relative;
  height: 1700px;
  width: 1000px;
  /* background-color: #333333; */
  top: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}
.evnet_list_text_box{
  position: relative;
    width: 450px;
    height: 300px;
    border: 1px solid #dddddd;
}
.event_list_img{
  position: relative;
  width: 450px;
  height: 225px;
  /* 이미지 강제로 사이즈에 맞춤 */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* 이미지 강제로 사이즈에 맞춤 */
}
.event_list_text{
  position: relative;
  width: 450px;
  height: 75px;
}
.event_list_title{
  position: relative;
  top: 20px;
  font-size: 25px;
  left: 25px;
  font-weight: 550;
}
.event_list_date{
  position: relative;
    top: -6px;
    left: 172px;
    font-size: 13px;
}



.ing_end_event_box{
  position: relative;
  width: 800px;
  height: 60px;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
  display: flex;
  
}
.ing_event{
  position: relative;
  
  height: 60px;
  width: 400px;
  border: 1px solid #dddddd;
}
.ing_event_text{
  position: relative;
  font-size: 25px;
  left:85px;
  top: 10px;
  font-weight: 550;
}
.end_event{
  position: relative;
 
  height: 60px;
  width: 400px;
  border: 1px solid #dddddd;
}
.end_event_text{
  position: relative;
    font-size: 25px;
    top: 10px;
    left: 125px;
}











.pager{
  position: relative;
  width: 1000px;
  /* top: -15px; */
  height: 190px;
  top: 60px
}
.page_wrap {
	text-align: center;
    font-size: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
 }
.page_nation {
	display:inline-block;
}
.page_nation .none {
	display:none;
}
.page_nation a {
	display:block;
	margin:0 3px;
	float:left;
	border:1px solid #e6e6e6;
	width:28px;
	height:28px;
	line-height:28px;
	text-align:center;
	background-color:#fff;
	font-size:13px;
	color:#999999;
	text-decoration:none;
}
.page_nation .arrow {
	border:1px solid #ccc;
}
.page_nation .pprev {
	background:#f8f8f8 url(../img/pager/page_pprev.png) no-repeat center center;
	margin-left:0;
}
.page_nation .prev {
	background:#f8f8f8 url(../img/pager/page_prev.png) no-repeat center center;
	margin-right:7px;
}
.page_nation .next {
	background:#f8f8f8 url(../img/pager/page_next.png) no-repeat center center;
	margin-left:7px;
}
.page_nation .nnext {
	background:#f8f8f8 url(../img/pager/page_nnext.png) no-repeat center center;
	margin-right:0;
}
.page_nation a.active {
	background-color:#42454c;
	color:#fff;
	border:1px solid #42454c;
}


.ing_event_text_2{
  position: relative;
  font-size: 25px;
  left:85px;
  top: 10px;
}
.end_event_text_2{
  position: relative;
  font-size: 25px;
  top: 10px;
  left: 125px;
  font-weight: 550;
}
.scriptbox2{
  width: 1000px;
    height: 1975px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
.ing_event_2{
  position: relative;
  height: 60px;
  width: 400px;
  border: 1px solid #dddddd;
}
.scriptbox{
  position: relative;
  width: 1000px;
  height: 1975px;
}













































/* bottom */
/* 최하단 css */
.bottom {
    position: relative;
    /* border: 1px solid black; */
    background-color: #333333;
    z-index: 3;
    width: 100%;
    height: 25rem;
  
  }
  .inner_case_bottom {
    position: absolute;
    height: 85%;
    width: 62.5rem;
    left: 50%;
    top: 35px;
    transform: translateX(-50%);
  }
  .lhr5 {
    position: relative;
    background-color: #6c6c6c;
    opacity: 0.3;
    top: 150px;
    z-index: 4;
  }
  
  
  .bottom_text_1 {
    position: relative;
    color: white;
    font-size: 1.92rem;
    text-align: left;
    font-style: normal;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 800;
    top: px;
    left: 45px;
  }
  
  .bottom_text_2 {
    position: relative;
    color: #a0a0a0;
    font-size: 0.72rem;
    text-align: left;
    font-family: 'Nanum Gothic', sans-serif;
    font-style: normal;
    font-weight: 500;
    top: 10px;
    left: 45px;
  }
  
  .bottom_text_3 {
    position: relative;
    color: #666666;
    font-size: 0.72rem;
    text-align: left;
    font-style: normal;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 500;
    top: 6.3rem;
    left: 45px;
  }
  
  .bottom_text_4 {
    position: relative;
    color: #a6a6a6;
    font-size: 0.96rem;
    text-align: left;
    font-style: normal;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 500;
    top: 9rem;
    left: 45px;
  }
  /* bottom */