@charset "UTF-8";
*{
  font-family: 'Noto Sans KR', sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin:0px;
  padding: 0px;
  color: #000;
}
a:hover {
  color: black;
}
body{
	background-color:whitesmoke;
}
.main_back{
  display: flex;
}
a {
   text-decoration: none;
   color: black;
} 
#main-menu{
  list-style: none;
  padding-left: 0px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.box_case{
  position: relative;
  height: 125px;
  width: 100%;
  background-color: white;
  
}
.title{
  font-size: 2rem;
  text-align: left;
  font-style: normal;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 600;
  position: absolute;
  display: flex;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.title_name{
  position: relative;
  left: 10px;
  top: 4px;
}
.title_right{
  font-size: 14px;
  text-align: left;
  font-style: normal;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 600;
  position: absolute;
  display: flex;
  color: white;
  top: 50%;
  left: 80%;
  width: 200px;
  transform: translateY(-50%);
  letter-spacing: 1px;
}
.login_link{
  position: relative;
  left: 4%;
  width: 70px;
}
.drop_down_maincase{
  position: relative;
  display: flex;
  padding: 5px;
  font-style: normal;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 600;
  font-size: 16px;
  background-color: black;
  color: white;
      text-align: center;
}
.black_box{
  width: 100%;
  height: 50px;
  background-color: black;
  z-index: 9;
  position: relative;
}
#main-menu > li {
float: left;
position: relative;
margin-left: 49px;
margin-right: 49px;
}

#main-menu > li > a {
font-size: 0.85rem;
color: rgba(255,255,255,0.85);
text-align: center;
text-decoration: none;
letter-spacing: 0.05em;
display: block;
padding: 14px 36px;
border-right: 1px solid rgba(0,0,0,0.15);
text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

#main-menu > li:nth-child(1) > a {
border-left: 1px solid rgba(0,0,0,0.15);
}

#sub-menu {
position: absolute;
background: #000000;
width: 200%;
visibility: hidden;
transition: all 0.15s ease-in;
}

#sub-menu > li {
padding: 16px 28px;
border-bottom: 1px solid rgba(0,0,0,0.15);
z-index: 9;
}
#sub-menu > li >  a {
color: rgba(255,255,255,0.6);
text-decoration: none;
z-index: 9;
}

#main-menu > li:hover #sub-menu {
opacity: 1;
visibility: visible;
z-index: 9;
}


section {
column-width: 15em;
padding: 2em 12em;
}
/*여기까지 기본 위 배너 css입니다!*/
/* bottom */
/* 최하단 css */
.bottom {
    position: relative;
    background-color: #333333;
    z-index: 3;
    width: 100%;
    height: 25rem;
  
  }
  .inner_case_bottom {
    position: absolute;
    height: 85%;
    width: 62.5rem;
    left: 50%;
    top: 35px;
    transform: translateX(-50%);
  }
  .lhr5 {
    position: relative;
    background-color: #6c6c6c;
    opacity: 0.3;
    top: 150px;
    z-index: 4;
  }
  
  
  .bottom_text_1 {
    position: relative;
    color: white;
    font-size: 1.92rem;
    text-align: left;
    font-style: normal;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 800;
    top: px;
    left: 45px;
  }
  
  .bottom_text_2 {
    position: relative;
    color: #a0a0a0;
    font-size: 0.72rem;
    text-align: left;
    font-family: 'Nanum Gothic', sans-serif;
    font-style: normal;
    font-weight: 500;
    top: 10px;
    left: 45px;
  }
  
  .bottom_text_3 {
    position: relative;
    color: #a0a0a0;
    font-size: 0.72rem;
    text-align: left;
    font-style: normal;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 500;
    top: 6.3rem;
    left: 45px;
  }
  
  .bottom_text_4 {
    position: relative;
    color: #a6a6a6;
    font-size: 0.96rem;
    text-align: left;
    font-style: normal;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 500;
    top: 9rem;
    left: 45px;
  }
  /* bottom */
  .gray_main{
    width: 100%;
 
    background-color: whitesmoke;
  }
  .inner_case{
    width: 1000px;
    height: 100%;
  }
  .tic_com_name{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
  }
  #not_check{
    text-decoration: line-through;
  }
  .grade_title{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: 300px;
  }
  .grade_title {
    position: relative;
    width: 223px;
    height: 200px;
}
  .grade_title_text {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    width: 223px;
    font-size: 28px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

  .grade_box{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
  }
  .grade_info{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    margin-bottom: 150px;
  }
  .grade_info_box {
    width: 100%;
    height: 138px;
    background-color: white;
    border: 1px solid #dddddd;
}
  .grade_empty_text {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 280px;
    height: 30px;
    color: #666666;
    font-size: 18px;
}
.my_grade>img{
  width: 20px;
  height: 20px;
}
.grade_name{
  width: 24%;

}
.my_movie_name{

  margin-top: 17px;
  height: 50px;
  width: 280px;
  text-overflow: unset;
  overflow: hidden;
  white-space: inherit;
}
.my_star{
  margin-left: 12px;
  font-size: 14px;
  
}
.my_movie_title{
  width: 56px;

  margin-left: 12px;
  margin-top: 18px;
  height: 50px;
}
.grade_subject{
  margin: 24px;
}
.grade_subject_info{
  width: 636px;
  text-overflow: unset;
  overflow: hidden;
  white-space: inherit;
}
.movie_box_left{
  position: relative;
  height: 100%;
  width: 13%;
}
.movie_box_left>img{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.movie_box_center{
  width: 40%;
}
.movie_box_center>div{
  height: 50%;
  width: 95%;
  left: 5%;
  top: 4%;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
.movie_box_right{
  width: 43.5%;
  margin-top: 15px;
  line-height: 35px;
}
.movie_box_right_label{
  width: 100px;
  text-align: left;
  margin-right: 10px;
}